@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Orbitron&family=Roboto:wght@100..900&display=swap');
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@import "tailwindcss";


:root {
  --background: #ededed;
  --foreground: #222222;
  --hovered: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
    --hovered: #ffffff;
  }
}

@theme {
  --color-primary: var(--foreground);
  --color-secondary: var(--background);
  --color-hovered: var(--hovered);
}

body {
  background: var(--background);
  color: #b8b8b8;
  font-family: 'Big Shoulders', Arial, Helvetica, sans-serif;
}
